cmake-build-debug
.idea
.directory
build
*.zip
test
compiler
symboltable
programtest
exp
*.o

*.tab.c
*.tab.h
lex.yy.c
tests/exp
.vscode
y.output

# checkwrap
# execwrap
# gccwrap
# check.py
# checkdir.py

*.log
*.fls
*.fdb_latexmk
*.aux
*.s